.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sos-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaçamento entre os botões */
}
