<div class="header">
  <div (click)="toggleSideNav()" class="hamburger-icon"></div>
  <div class="header-title-frame">
    <div class="logo" [routerLink]="homeLink"></div>
  </div>
  <div class="header-icons">
    <div class="notifications" (click)="toogleDropdownNotification()" (clickOutside)="onClickedOutside($event, 0)">
      <mat-icon class="text-color" matBadgeSize="small" matBadge="amount" [matBadgeHidden]="amount > 0 ? false : true">notifications</mat-icon>
    </div>
    <div class="dropdown-menu-notification" *ngIf="dropdownMenuNotification" (click)="toogleDropdownNotification()">
      <div class="notification-container">
        <section class="notification-section" *ngIf="!(notifications.length === 0)">
          <div *ngIf="notifications.length > 0">
            <div *ngFor="let item of notifications">
              <div class="row pointer">
                <div class="btn-actions message-btn" (click)="readOne(item.id)">
                  <p class="label-notification-title">{{item.message}}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="notification-section without-notifications" *ngIf="notifications.length === 0">
          <div class="panel-body ng-scope">
            <i class="material-icons icon-nonotification-menu">notifications_off</i>
          </div>
          <div class="row" *ngIf="notifications.length === 0">
            <div class="col-md-12 text-header-muted text-center">
              <p class="m-t-1 ng-binding p-notification text-center">
                {{ 'header.noNotification' | translate}}</p>
            </div>
          </div>
        </section>
        <section class="action-section" *ngIf="!(notifications.length === 0)">
          <button mat-raised-button class="btn-actions text-color-white" (click)='viewAllNotifications()'>
            {{'header.viewAllNotifications' | translate}}
          </button>
          <span>|</span>
          <button mat-raised-button class="btn-actions text-color-white" (click)='readAllNotifications()'>
            {{'header.clearNotifications' | translate}}
          </button>
        </section>
        <section class="action-section" *ngIf="(notifications.length === 0)">
          <button mat-raised-button class="btn-actions text-color-white" (click)='viewAllNotifications()'>
            {{'header.viewAllNotifications' | translate}}
          </button>
        </section>
      </div>
    </div>
    <app-dark-mode-toggle></app-dark-mode-toggle>
    <app-language-selector></app-language-selector>
    <div class="log-out-icon" [routerLink]="loginLink"></div>
  </div>
</div>
