.admin-panel {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.button-row {
  display: flex;
  gap: 16px;
  /* Espaçamento entre os botões */
  margin-bottom: 16px;
  /* Espaçamento abaixo dos botões */
}

.button-row .mat-raised-button {
  margin: 0;
  /* Remover margens adicionais dos botões */
}

table {
  width: 100%;
}

section {
  display: table;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto; /* Ajuste a largura das células para se ajustar ao conteúdo */
}
