.admin-panel {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.button-row {
  display: flex;
  gap: 16px;
  /* Espaçamento entre os botões */
  margin-bottom: 16px;
  /* Espaçamento abaixo dos botões */
}

.button-row .mat-raised-button {
  margin: 0;
  /* Remover margens adicionais dos botões */
}

table {
  width: 100%;
}

section {
  display: table;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto; /* Ajuste a largura das células para se ajustar ao conteúdo */
}

mat-form-field, mat-expansion-panel-header {
  border-radius: 5px;

  mat-label {
    color: var(--text-color) !important;
  }
}

.filter{
  width: 100%;
}

::ng-deep .mat-mdc-text-field-wrapper{
  background-color: var(--aux-color) !important;
}

::ng-deep .mat-mdc-paginator-icon:not([disabled]) {
  fill: var(--text-color) !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: var(--disabled-text-color) !important;
}

::ng-deep .mat-mdc-paginator {
  background: var(--aux-color);
}

::ng-deep .mat-mdc-radio-button .mdc-form-field,
::ng-deep .mat-mdc-input-element,
::ng-deep .mat-mdc-select-value-text,
::ng-deep .mat-mdc-select-arrow {
  color: var(--text-color) !important;
}

::ng-deep .mdc-notched-outline__leading,
::ng-deep .mdc-notched-outline__notch,
::ng-deep .mdc-notched-outline__trailing {
  border-color: var(--outline-color) !important;
}
