table {
  width: 100%;
}

section {
  display: table;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: auto; /* Ajuste a largura das células para se ajustar ao conteúdo */
}
